PORT=3000
DB_HOST=db
DB_USER=root
DB_PASSWORD=rootpassword
DB_NAME=neuroflow_db
JWT_SECRET=replace_with_a_strong_secret
TOKEN_EXPIRATION=1h
REFRESH_TOKEN_SECRET=replace_with_a_different_strong_refresh_secret
REFRESH_TOKEN_EXPIRATION=30d
RESET_TOKEN_RESPONSE_ENABLED=true
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_SECURE=false
MAIL_USER=seu_email@gmail.com
MAIL_PASS=sua_senha_de_app_do_gmail
MAIL_FROM="NeuroFlow <seu_email@gmail.com>"
